@font-face {
  font-family: "Leotaro";
  src: url("../fonts/Leotaro-Regular.woff2") format("woff2"),
    url("../fonts/Leotaro-Regular.woff") format("woff"),
    url("../fonts/Leotaro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
